 <p>student works!</p>
<!-- <div class="text-right">
    <button (click)="cancelMember()" class="btn btn-danger m-l-10">
        <i class="fa fa-times"></i> Cancel</button>
    <button type=submit (click)="editMember(editMemberFormone.value)" class="btn btn-success m-l-10">
         Next <i class="fa fa-chevron-right"></i></button>
</div>
<div class="text-right">
    <button (click)="previousone()" class="btn btn-info m-l-10">
        <i class="fa fa-chevron-left"></i> Previous</button>
    <button  type=submit (click)="editMemberone(editMemberFormtwo.value)" class="btn btn-success m-l-10">
         Next <i class="fa fa-chevron-right"></i></button>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="form-group">
        <label>Date of Birth <span class="text-danger"> *</span></label>
        <div class="input-group">
            <input class="form-control" placeholder="{{newdob1}}" name="dp" [minDate]="minRange"
                [maxDate]="maxRange" (ngModelChange)="changeAge($event,2)"  [(ngModel)]="dateOfBirth1"  [ngModelOptions]="{standalone: true}"
                (keypress)="omit_special_char($event)" (keypress)="isNumber($event)" ngbDatepicker
                #d="ngbDatepicker"   dateFormat="dd-MM-yyyy"
                (document:click)="dataservice.closeFix($event, d)" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"  (click)="d.toggle(); $event.stopPropagation();"   type="button">
                    <i class="fa fa-calendar"></i>
                </button>
            </div>
        </div> -->